synapse:
  cache:
    enabled: true
    default-strategy: "LOCAL_AND_REDIS"
    redis-cache:
      sentinel:
        enabled: true
        master: mymaster
        nodes:
          - 10.80.3.21:26379
          - 10.80.3.22:26379
          - 10.80.3.23:26379
          - 10.80.3.24:26379
          - 10.80.3.25:26379
      #      enabled: true
      #      connection:
      #        host: localhost
      #        port: 6379
      #        database: 0
      #        timeout: PT2S
      connection-timeout: PT5S
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: PT-1S
      enabled: true