synapse:
  datasource:
    primary: master1
    # 数据源配置
    datasources:
      master1:
        type: MYSQL
        host: 10.80.3.24
        port: 6450
        database: synapse_mdm
        username: xmom
        password: 123456
        pool-type: HIKARI
        weight: 100       # 权重
        params:
          useUnicode: "true"
          characterEncoding: "utf8"
          useSSL: "false"
          allowPublicKeyRetrieval: "true"
          serverTimezone: "Asia/Shanghai"
          autoReconnect: "true"
          failOverReadOnly: "false"
          maxReconnects: "3"
          initialTimeout: "2"
        hikari:
          minimum-idle: 5
          maximum-pool-size: 15
          idle-timeout: 30000
          max-lifetime: 1800000
          connection-timeout: 30000
          # 添加连接验证
          connection-test-query: "SELECT 1"
          validation-timeout: 5000
      master2:
        type: MYSQL
        host: 10.80.3.25
        port: 6450
        database: synapse_mdm
        username: xmom
        password: 123456
        pool-type: HIKARI
        weight: 100       # 权重
        params:
          useUnicode: "true"
          characterEncoding: "utf8"
          useSSL: "false"
          allowPublicKeyRetrieval: "true"
          serverTimezone: "Asia/Shanghai"
          autoReconnect: "true"
          failOverReadOnly: "false"
          maxReconnects: "3"
          initialTimeout: "2"
        hikari:
          minimum-idle: 5
          maximum-pool-size: 15
          idle-timeout: 30000
          max-lifetime: 1800000
          connection-timeout: 30000
          # 添加连接验证
          connection-test-query: "SELECT 1"
          validation-timeout: 5000
  cache:
    enabled: true
    default-strategy: "LOCAL_AND_REDIS"
    redis-cache:
      connection:
        host: localhost
        port: 6379
        database: 0
        timeout: PT2S
      connection-timeout: PT5S
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: PT-1S
      enabled: true


